{% extends "base.html" %}

{% block titulo %}Home{% endblock titulo%}

{% block conteudo %}

<main class="container">
    <div class="row g-5">
        <h1 class="pb-4 mb-4 fst-italic border-bottom">Comentários sobre como é viver em uma República</h1>
    </div>
    {% if comentarios %}
        <ul>
            {% for comentario in comentarios %}
                <li>
                    <strong>{{ comentario.nome }}</strong>: {{ comentario.texto }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há comentários disponíveis no momento.</p>
    {% endif %}
</main>

{% endblock conteudo %}