{% extends "base.html" %}

{% block titulo %}Home{% endblock titulo%}


{% block conteudo %}

    {% with lista = get_flashed_messages() %}
        {% if lista%}
            <ul class="list-unstyled">
                {% for mensagem in lista %}
                    <li class="alert alert-success" role="alert">{{mensagem}}</li>
                {% endfor %}
            </ul>
{% endif %}

{% endwith %}
<html lang="pt-BR" data-bs-theme="dark">

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="w-100 m-auto form-container">
        <form method="POST" action="{{url_for('autenticar')}}"> 
            <h3 class="mb-3 fw-normal">Login</h3>
            <div class="form-floating">
                <label for="exampleInputPassword1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="textEmail" aria-describedby="emailHelp">
            </div> 

            <div class="form-floating">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="textSenha" >
            </div> 
            <br>
            <button type="submit" class="btn btn-primary w-100 py-2">Submit</button>      
            <p><a href="{{ url_for('registrar') }}">Criar uma conta</a></p>
        </form>
</main>
<link rel="stylesheet" href="{{ url_for('static', filename='css/folha.css') }}">
</body>
</html>
{% endblock conteudo%}