{% extends "base.html" %}

{% block titulo %}Home{% endblock titulo%}

{% block conteudo %}

<main class="container" >
    <div class="row g-5">

        <div class="col-md-8">
            <h1 class="pb-4 mb-4 fst-italic border-bottom">O que é uma República?</h1>
            <p>Uma República Estudantil é um tipo de moradia compartilhada por estudantes universitários, onde eles dividem despesas e responsabilidades domésticas em um ambiente independente, muitas vezes fora dos campi universitários. Geralmente, as Repúblicas Estudantis são casas alugadas por um grupo
                de estudantes, visando a convivência, socialização e redução de custos com moradia durante os anos universitários.</p>
                <p>Esses espaços são conhecidos por promoverem um senso de comunidade, companheirismo e colaboração entre os moradores. Eles geralmente possuem regras estabelecidas pelos próprios moradores para 
                   a gestão do espaço, divisão de tarefas domésticas e outras questões cotidianas.</p>
                <p>Além de proporcionar economia financeira, as Repúblicas Estudantis oferecem a oportunidade de desenvolvimento de habilidades de convivência, organização e administração, enquanto os estudantes compartilham experiências e aprendizados durante o período 
                   acadêmico. É comum que essas repúblicas criem laços de amizade duradouros entre os moradores.</p>
            <br>
            <h3 class="pb-4 mb-2 fst-italic border-bottom">Confira o que você precisa saber antes de morar em uma república</h3>
            <h4>Possibilidade de dividir as despesas </h4>
            <p>Na república universitária, uma das vantagens é a possibilidade de definir em conjunto com os demais moradores como será a divisão das despesas, como mercado, contas de água, luz e internet. 
                Essa divisão pode variar conforme o número de pessoas que compartilham o espaço, e pode ser feita de forma coletiva ou individual.</p>
            <h4>O espaço não é só seu </h4>
            <p>Ao escolher morar em uma república universitária, você estará se preparando para dividir não apenas as despesas, mas também o espaço com outros estudantes. A convivência em grupo
                 ensina lições importantes sobre respeito e privacidade, já que será necessário aprender a compartilhar a casa com diversas pessoas.</p>
            <h4>Compartilhando alimentos</h4>
            <p>Na república universitária, é comum ter que compartilhar a comida com os outros moradores. Na geladeira, por exemplo, não haverá somente seus alimentos,
                 mas também daqueles que dividem o espaço com você. Essa é uma ótima oportunidade para aprender sobre colaboração.</p>
            <h4>Diversão é garantida</h4>
            <p>Morar em uma república para estudantes implica que seus fins de semana e feriados estarão sempre preenchidos com atividades em grupo, desde saídas para 
                bares e restaurantes próximos até noites de filmes compartilhadas com os colegas de casa -- e festas, muitas festas. Isso proporciona uma ótima oportunidade para socializar e criar
                 laços duradouros com outras pessoas na mesma situação que você.</p>
            <h4>Mas nem tudo é festa </h4>
            <p>Viver em uma república universitária pode ser associado a uma rotina descontraída, com muita diversão e festas. No entanto, é importante lembrar que a vida acadêmica é repleta de compromissos e é necessário ter cuidado para que a diversão não prejudique os
                 estudos. Ao planejar uma festa, é importante conversar com os colegas e respeitar os limites de som e horário, para evitar problemas com os vizinhos.</p>
            <h4>Cuidado ao receber visitas</h4>
            <p>Manter a privacidade pode ser um desafio quando se mora em uma república universitária. Se você planeja receber visitas ou convidados para dormir, é importante comunicar seus colegas de casa 
                com antecedência. Geralmente, é recomendado que os convidados fiquem no quarto do morador, para não perturbar a rotina da república e evitar desconfortos.</p>
            <h4>República universitária e novas amizades</h4>
            <p>As repúblicas universitárias oferecem uma excelente oportunidade para conhecer novas pessoas, principalmente para aqueles que estão em uma cidade desconhecida. Além de possibilitar o convívio 
                com pessoas de diferentes culturas e personalidades, a moradia compartilhada ajuda a desenvolver habilidades como a comunicação e o trabalho em equipe.</p>
            <h4>Convivendo com o barulho </h4>
            <p>Em uma república universitária, é comum haver movimentação constante e barulho, com pessoas entrando e saindo o tempo todo. Festas e novos moradores 
                também são frequentes, tornando a convivência animada e agitada. Então, nada de encrencar com o barulho, hein? A menos que a bagunça fuja às regras estabelecidas para manter um ambiente harmonioso entre os moradores.</p>
            <h4>Manter a limpeza é essencial</h4>
            <p>Morar em uma república estudantil requer atenção especial com a limpeza. Devido à rotina corrida da faculdade, muitas vezes os moradores
                 acabam deixando louças acumuladas na pia. É importante manter a organização e a higiene para evitar conflitos e doenças causadas pela sujeira.</p>
        </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Quais são as repúblicas da UNESP?</h4>
                        <p class="mb-0">A UNESP conta com 34 campus espalhados pelo estado de São Paulo, tendo repúblicas em 24 delas.</p>
                        <p class="mb-0">Acesse este link para ter acesso aos campus e suas respectivas repúblicas:
                            <a href="https://www.instagram.com/unesprepublicas/?hl=pt">unesprepublicas</a>
                    </div>
                    <div class="position-sticky" style="top: 2rem">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">Deseja comprar o ingresso da maior festa do interior?</h4>
                            <p class="mb-0">Realize seu login!</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>


    {% endblock conteudo %}